@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

@font-face {
    font-family: 'Itim';
    src: url('fontes/Itim/Itim-Regular.ttf') format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: #a9a9a9
}

header{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin: auto;
    margin: -10px -10px 20px -10px;
    font-family: 'Itim', Arial, Helvetica, sans-serif, monospace;
}

header h1{
    font-variant: small-caps;
}

header a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

header a:hover{
    text-decoration: underline;
    text-decoration-color: #8b0000;
}

main{
    min-width: 280px;
}

section.normal{
    background-color: #ffffff;
    padding: 10px;
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin: auto;
    margin: 0px -10px 0px -10px;
    font-family: 'Itim', Arial, Helvetica, sans-serif, monospace;
    line-height: 35px;
}

section#imagem_flor{
    background-color: #1f1f1f;
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    padding: 10px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin: auto;
    margin: 0px -10px 0px -10px;
    font-family: 'Itim', Arial, Helvetica, sans-serif, monospace;
    line-height: 35px;
}

section#imagem_flor p{
    background-color: #0000005b;
    width: 400px;
    padding-left: 30px;
    border-radius: 15px;
}

section#imagem_folhas{
    background-color: #1f1f1f;
    color: #ffffff;
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin: auto;
    margin: 0px -10px 0px -10px;
    font-family: 'Itim', Arial, Helvetica, sans-serif, monospace;
    line-height: 35px;
}

section#imagem_folhas p{
    background-color: #0000005b;
    width: 400px;
    padding-left: 30px;
    border-radius: 15px;

}

footer{
    background-color: #000000;
    color: #ffffff;
    margin: auto;
    margin: 20px -10px -20px -10px;
    padding: 10px;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
    text-decoration-color: #8b0000;
}