@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

div:hover{
    color: #ff0000;
}

div > p{
    display: none;
}

div:hover > p{
    display: block;
    text-align: center;
    color: white;
    background-color: lightslategray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}