@charset "UTF-8";

body{
    background-color: lightgray
}

header{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    border-radius: 5px 0px;
    padding: 5px;
    margin: auto;
    margin-bottom: 20px;
}

nav > a{
    text-decoration: none;
    margin: 10px;
    color: #000000;
}

nav > a:hover{
    text-decoration: underline;
    text-decoration-color: #8b0000;
    font-size: 1.3em;
}

main{
    background-color: #ffffff;
    color: #000000;
    width: 1000px;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #0000006c;
}

#secao-esportes{
    text-align: center;
    text-decoration: none;
}

#secao-tags_agrupamento > h1{
    color: #4eb4d6;
    font-style: italic;
    font-size: 2em;
    text-align: center;
}

#artigo-tags_agrupamento > h2{
    text-decoration: underline;
    font-style: italic;
    font-size: 1.5em;
}

footer{
    width: 1000px;
    background-color: #7e7e7e;
    text-align: right;
    text-decoration: underline;
    border-radius: 5px 0px;
    padding: 3px;
    margin: auto;
    margin-top: 30px;
}